.createtick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.entiretick {
  border: 2px solid #7ed321;
  /* background-color: lightgray; */
  width: 90%;
  box-shadow: 10px 10px 5px grey;
}

.submitbtn {
  background: #7ed321;
  background-image: linear-gradient(-315deg, #7ed321 40%, #7ed321 100%);
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.submitbtn:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0 2% 0;
}

#description {
  width: 500px;
  padding: 10px 10px;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 1px solid #7ed321;
  border-radius: 4px;
  resize: both;
}

#attemptedSolutions {
  width: 500px;
  padding: 10px 10px;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 1px solid #7ed321;
  border-radius: 4px;
  resize: both;
}

.navcreate {
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-top: 2%;
  width: 11.5%;
}

.navcreate:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.logintitle {
  text-align: center;
  margin-top: 10vh;
}
.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5%;
}

link {
  text-decoration: none;
  color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#usertick {
  border: 3px solid #7ed321;
  margin: 1rem;
  padding: 1rem;
  /* background-color: lightgray; */
  box-shadow: 3px 5px #d0d0d0;
  width: 100%;
  max-width: 900px;
}

.userticket {
  display: flex;
  flex-direction: column;
}

.ticksolut {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px dashed red;
  color: red;
  padding-top: 2%;
  width: 50%;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0 2% 0;
}

.claimedtick {
  text-align: center;
  border: 4px solid #7ed321;
  width: 30%;
  margin: 0 auto;
  margin-top: 3%;
  background-color: lightgray;
}

p {
  font-weight: bold;
}

.dashb {
  text-align: center;
  margin: 3% 0 3% 0;
}

.submitbtn1 {
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.submitbtn1:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(11, 53, 240, 0.12),
    0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: red;
  color: white;
  text-decoration: none;
}

.submitbtn1:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.submitbtn2 {
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.submitbtn2:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(11, 53, 240, 0.12),
    0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: black;
  color: #7ed321;
  text-decoration: none;
}

.submitbtn2:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.submitbtn3 {
  background: #7ed321;
  background-image: linear-gradient(-315deg, #7ed321 40%, white 100%);
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 16px;
  color: #7ed321;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.submitbtn3:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(11, 53, 240, 0.12),
    0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: black;
  color: #7ed321;
  text-decoration: none;
}

.submitbtn3:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.submitbtn4 {
  background: #7ed321;
  background-image: linear-gradient(-315deg, #7ed321 40%, white 100%);
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
}

.submitbtn4:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(11, 53, 240, 0.12),
    0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: #7ed321;
  color: black;
  text-decoration: none;
}

.submitbtn4:active {
  background: #7ed321;
  box-shadow: inset 0px 0px 5px #7ed321;
  outline: none;
}

.proform {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #7ed321;
  background-color: lightgray;
  margin-top: 3%;
  padding: 5%;
  font-weight: bold;
}

.profileform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  color: red;
}
.claimed {
  background-color: #ffffbf;
}
.open {
  background-color: #ffcccb;
}
.closed {
  background-color: #98fb98;
}
