div.loginpage {
  form {
    padding: 1rem;
    * {
      width: 100%;
    }
    label {
      text-align: left;
      input {
        padding: 0.5rem;
      }
    }
    > div {
      margin-top: 1rem;
      .submitbtn {
        margin: 0;
        width: 40%;
        display: inline-block;
        margin: 0.5rem;
      }
    }
  }
}
